<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Basic Form </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="basicFormGroup" (ngSubmit)="basicFormSubmit(basicFormGroup.value)">
      <div fxFlex fxLayout="column">
        <div fxFlex fxLayout="column">
          <mat-form-field class="full-width" fxFlex>
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="(basicFormGroup.get('name').invalid && 
            (basicFormGroup.get('name').dirty || 
            basicFormGroup.get('name').touched || 
             isSubmit))">

              <span *ngIf="basicFormGroup.get('name').errors?.required ">
                Please Enter Username.
              </span>
            </mat-error>
          </mat-form-field>

          <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-md="20px">
            <mat-form-field class="full-width" fxFlex>
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="(basicFormGroup.get('email').invalid && 
              (basicFormGroup.get('email').dirty || 
              basicFormGroup.get('email').touched || 
               isSubmit))">
                <span *ngIf="basicFormGroup.get('email').errors?.required ">
                  Please Enter Email.
                </span>
                <span *ngIf="basicFormGroup.get('email').errors?.email ">
                  Please Enter Correct Email.
                </span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" fxFlex>
              <span matPrefix>+91 &nbsp;</span>
              <input type="tel" matInput placeholder="Telephone" formControlName="phone">
              <mat-error *ngIf="(basicFormGroup.get('phone').invalid && 
              (basicFormGroup.get('phone').dirty || 
              basicFormGroup.get('phone').touched || 
               isSubmit))">
                <span *ngIf="basicFormGroup.get('phone').errors?.required ">
                  Please Enter Telephone Number.
                </span>
                <span *ngIf="basicFormGroup.get('phone').errors?.pattern ">
                  Please Enter Correct Telephone Number.
                </span>
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex>
            <mat-form-field class="full-width">
              <input matInput #address maxlength="256" placeholder="Address" formControlName="address">
              <mat-error *ngIf="(basicFormGroup.get('address').invalid && 
              (basicFormGroup.get('address').dirty || 
              basicFormGroup.get('address').touched || 
               isSubmit))">
                <span *ngIf="basicFormGroup.get('address').errors?.required ">
                  Please Enter Adddress.
                </span>
              </mat-error>
              <mat-hint align="start">
                <strong>Enter permanent address.</strong>
              </mat-hint>
              <mat-hint align="end">{{address.value.length}} / 256</mat-hint>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.gt-md="3%" fxLayoutAlign="space-around center">
            <mat-form-field class="full-width" fxFlex="30%">
              <input matInput placeholder="City" formControlName="city">
              <mat-error *ngIf="(basicFormGroup.get('city').invalid && 
              (basicFormGroup.get('city').dirty || 
              basicFormGroup.get('city').touched || 
               isSubmit))">
                <span *ngIf="basicFormGroup.get('city').errors?.required ">
                  Please Enter City.
                </span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" fxFlex="30%">
              <input matInput placeholder="State" formControlName="state">
              <mat-error *ngIf="(basicFormGroup.get('state').invalid && 
              (basicFormGroup.get('state').dirty || 
              basicFormGroup.get('state').touched || 
               isSubmit))">
                <span *ngIf="basicFormGroup.get('state').errors?.required ">
                  Please Enter Adddress.
                </span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width" fxFlex="31%">
              <input matInput #postalCode maxlength="6" placeholder="Postal Code"  formControlName="postalCode">
              <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
              <mat-error *ngIf="(basicFormGroup.get('postalCode').invalid && 
              (basicFormGroup.get('postalCode').dirty || 
              basicFormGroup.get('postalCode').touched || 
               isSubmit))">
                <span *ngIf="basicFormGroup.get('postalCode').errors?.required ">
                  Please Enter Postal Code.
                </span>
                <span *ngIf="basicFormGroup.get('postalCode').errors?.minLength ">
                  Please Enter Correct Postal Code.
                </span>
              </mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="form-button" fxFlex fxLayoutGap="20px">
          <button fxFlex color="basic" mat-raised-button (click)="cancel()">
            <mat-icon>clear</mat-icon> Cancel</button>
          <button fxFlex color="primary" mat-raised-button [disabled]="!basicFormGroup.valid">
            <mat-icon>save</mat-icon> Save</button>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>
