<div class="container">
  <div class="content" fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50">
      <div class="content">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Bar Chart </h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
              <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                  [chartType]="barChartType" (chartHover)="BarChartHovered($event)" (chartClick)="BarChartClicked($event)"></canvas>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxFlex="50">
      <div class="content">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Doughnut Chart </h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div style="display: block">
              <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="doughnutChartHovered($event)"
                (chartClick)="doughnutChartClicked($event)">
              </canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="content" fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50">
      <div class="content">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Radar Chart </h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div style="display: block">
              <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxFlex="50">
      <div class="content">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Pie Chart </h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div style="display: block">
              <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
