<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Icons </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-icon >home</mat-icon> home
    <mat-icon>face</mat-icon> face
    <mat-icon>favorite</mat-icon> favorite
    <mat-icon color="warm">find_in_page</mat-icon> find_in_page
    <mat-icon color="primary">delete_forever</mat-icon>delete_forever
    <p> For more icon visit
      <cite>
        <a href="https://material.io/tools/icons/?icon=delete_forever&style=baseline" target="_blank">Material Icons
        </a>
      </cite>
    </p>
    </mat-card-content>
  </mat-card>