<div class="container">
    <div class="content" fxLayout="row" fxLayout.xs="column">
        <div fxFlex>
          <div class="content">
              <app-form-field></app-form-field>
          </div>
        </div>        
        </div>
    <div class="content" fxLayout="row" fxLayout.xs="column">
        <div fxFlex>
          <div class="content">
              <app-datepicker></app-datepicker>
          </div>
        </div>        
        </div> 
         
    <div class="content" fxLayout="row" fxLayout.xs="column">
      <div fxFlex="50%" >
        <div class="content" fxLayout="row" fxLayout.xs="column">
            <div fxFlex="50%" >
            <app-slide-toggle></app-slide-toggle>
            </div>
            <div fxFlex="50%" >
            <app-checkbox></app-checkbox>
          </div>
        </div>
        <div class="content">
            <app-radio-button></app-radio-button>
        </div>
        <div class="content"  >
            <app-autocomplete></app-autocomplete>
        </div>
      </div>
      <div fxFlex="50%">
        <div class="content">
          <app-slider></app-slider>    
          </div>
        </div>
      </div>
    
    <div class="content" fxLayout="row" fxLayout.xs="column">
        <div fxFlex>
          <div class="content">
              <app-select></app-select>
          </div>
        </div>        
        </div>  
       
  </div>
  
  