<div fxLayout="column" fxLayoutAlign="space-between stretch" [formGroup]="parentForm" *ngFor="let member of memberChild">
  <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
    <div fxFlex>
      <section class="is-member-section">
        <mat-checkbox name="isMember" 
        formControlName="isMember" 
        value="{{member.gsDetails.isMember}}" 
        [ngModel]="member.gsDetails.isMember">Is Member In GS</mat-checkbox>
      </section>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input matInput placeholder="Marker" 
        name="marker" 
        formControlName="marker"
        value="{{member.gsDetails.marker}}" 
        [ngModel]="member.gsDetails.marker">
        <mat-error *ngIf="(parentForm.get('marker').invalid && 
                  (parentForm.get('marker').dirty || 
                  parentForm.get('marker').touched || 
                  isSubmit))">
                    <span *ngIf="parentForm.get('marker').errors?.required">
                      Please enter marker.
                    </span>
                  </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="gsEffective" 
        placeholder="GS Effective Date"
        name="gsEffectiveDate" 
        formControlName="gsEffectiveDate"
        value="{{member.gsDetails.gsEffectiveDate}}" 
        [ngModel]="member.gsDetails.gsEffectiveDate">
        <mat-datepicker-toggle matSuffix [for]="gsEffective"></mat-datepicker-toggle>
        <mat-datepicker #gsEffective></mat-datepicker>
        <mat-error *ngIf="(parentForm.get('gsEffectiveDate').invalid && 
                  (parentForm.get('gsEffectiveDate').dirty || 
                  parentForm.get('gsEffectiveDate').touched || 
                  isSubmit))">
                    <span *ngIf="parentForm.get('gsEffectiveDate').errors?.required">
                      Please enter gs effective date.
                    </span>
                  </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="lastNotInGs" 
        placeholder="Last Not In GS Date" 
        name="lastNotInGsDate" 
        formControlName="lastNotInGsDate"
        value="{{member.gsDetails.lastNotInGsDate}}" 
        [ngModel]="member.gsDetails.lastNotInGsDate">
        <mat-datepicker-toggle matSuffix [for]="lastNotInGs"></mat-datepicker-toggle>
        <mat-datepicker #lastNotInGs></mat-datepicker>
        <mat-error *ngIf="(parentForm.get('lastNotInGsDate').invalid && 
        (parentForm.get('lastNotInGsDate').dirty || 
        parentForm.get('lastNotInGsDate').touched || 
        isSubmit))">
          <span *ngIf="parentForm.get('lastNotInGsDate').errors?.required">
            Please enter last not in gs date.
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
