<mat-drawer-container class="sidebar-container" autosize>
  <mat-drawer #sidenav 
  class="sidebar-sidenav md-elevation-z15"                
  [mode]="mobileQuery.matches ? 'over' : 'side'"
  [opened]="mobileQuery.matches ? 'false' : 'true'"
              >
    <!-- <app-sidebar></app-sidebar> -->
    <mat-toolbar color="foreground">
      <span>
        Union Worx
      </span>
    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>
              <mat-icon>class</mat-icon> Dashboard</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-button routerLink="/dashboard/charts">
          <mat-icon>pie_chart</mat-icon> Charts</a>
    
    
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>
              <mat-icon>people_outline</mat-icon> Membership</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-button routerLink="/membership">
          <mat-icon>people_outline</mat-icon> Manage Members</a>
    
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-toolbar color="warm">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>  
      <span> <ol class="breadcrumb">
        <li><a routerLink="" class="breadcrumb">Home </a></li>
        <li><a routerLink="" class="breadcrumb"> / {{pageSlug}}</a></li>
      </ol></span>      
    </mat-toolbar>
  <div class="sidebar-sidenav-content">     
    <div fxLayout="column" >        
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>

