<div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="10px"  [formGroup]="parentForm" *ngFor="let member of memberChild">
  <div fxFlex="1 1 15%" fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex>
      <img alt="user-name" [hidden]="imgUrl" fxFlex="1 1 100%" class="user-img" src="/assets/images/profile.png">
      <img *ngIf="imgUrl" alt="user-name" fxFlex="1 1 100%" class="user-img" [src]='imgUrl'>
      <input [hidden]="true" value="">

    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" >
      <button type="button" mat-button (click)="profilePicture.click()">
        <mat-icon>delete_sweep</mat-icon> Change Image</button>
      <!-- <button  mat-button (click)="removePicture()" >Remove Image</button> -->
      <input type="file" [hidden]="true" (change)="onFileSelected($event)" #profilePicture>
    </div>
  </div>
  <div fxFlex="1 1 85%" fxLayout="column wrap"> 
    <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
      <div fxFlex="1 1 33%">
        <mat-form-field class="full-width">
          <input matInput placeholder="First Name" value="{{member.basicDetails.fName}}" [ngModel]="member.basicDetails.fName" name="fName" formControlName="fName" >
          <mat-error *ngIf="(parentForm.get('fName').invalid && 
                  (parentForm.get('fName').dirty || 
                  parentForm.get('fName').touched || 
                  isSubmit))">
                    <span *ngIf="parentForm.get('fName').errors?.required">
                      Please enter username.
                    </span>
                  </mat-error>
        </mat-form-field>

        
      </div>
      <div fxFlex="1 1 33%">
        <mat-form-field class="full-width">
          <input matInput placeholder="Middle Name" value="{{member.basicDetails.mName}}"  [ngModel]="member.basicDetails.mName" name="mName" formControlName="mName">
          <mat-error *ngIf="(parentForm.get('mName').invalid && 
          (parentForm.get('mName').dirty || 
          parentForm.get('mName').touched || 
          isSubmit))">
            <span *ngIf="parentForm.get('mName').errors?.required">
              Please enter middle name.
            </span>
          </mat-error>
        
        </mat-form-field>
      </div>
      <div fxFlex="1 1 33%">
        <mat-form-field class="full-width">
          <input matInput placeholder="Last Name" value="{{member.basicDetails.lName}}"  [ngModel]="member.basicDetails.lName" name="lName"  formControlName="lName">
          <mat-error *ngIf="(parentForm.get('lName').invalid && 
          (parentForm.get('lName').dirty || 
          parentForm.get('lName').touched || 
          isSubmit))">
            <span *ngIf="parentForm.get('lName').errors?.required">
              Please enter lastname.
            </span>
          </mat-error>
        </mat-form-field>
      </div>

    </div>
    <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
      <div fxFlex>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nick Name" value="{{member.basicDetails.nName}}" [ngModel]="member.basicDetails.nName" name="nName" formControlName="nName" >
        
          <mat-error *ngIf="(parentForm.get('nName').invalid && 
          (parentForm.get('nName').dirty || 
          parentForm.get('nName').touched || 
          isSubmit))">
            <span *ngIf="parentForm.get('nName').errors?.required">
              Please enter nick name.
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field class="full-width">
          <input matInput placeholder="Title" value="{{member.basicDetails.title}}" [ngModel]="member.basicDetails.title" name="title" formControlName="title">
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class="full-width">
          <mat-select placeholder="Select Gender" name="gender" formControlName="gender" [ngModel]="member.basicDetails.gender">
            <mat-option *ngFor="let gndr of gender" [value]="gndr.value"  >
              {{ gndr.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="(parentForm.get('gender').invalid && 
          (parentForm.get('gender').dirty || 
          parentForm.get('gender').touched || 
          isSubmit))">
            <span *ngIf="parentForm.get('gender').errors?.required">
              Please select gender.
            </span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
      <div fxFlex>
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="dob" placeholder="Date of birth" name="dob" formControlName="dob"  value="{{member.basicDetails.dob}}" [ngModel]="member.basicDetails.dob">
          <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
          <mat-datepicker #dob></mat-datepicker>
          <mat-error *ngIf="(parentForm.get('dob').invalid && 
          (parentForm.get('dob').dirty || 
          parentForm.get('dob').touched || 
          isSubmit))">
            <span *ngIf="parentForm.get('gender').errors?.required">
              Please enter dob.
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class="full-width">
          <input matInput placeholder="Membership #" value="{{member.basicDetails.membershipNumber}}" [ngModel]="member.basicDetails.membershipNumber" name="membershipNumber" formControlName="membershipNumber">
          <mat-error *ngIf="(parentForm.get('membershipNumber').invalid && 
          (parentForm.get('membershipNumber').dirty || 
          parentForm.get('membershipNumber').touched || 
          isSubmit))">
            <span *ngIf="parentForm.get('membershipNumber').errors?.required">
              Please enter membership number.
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class="full-width">
          <input matInput placeholder="Sin #" value="{{member.basicDetails.sinNumber}}" [ngModel]="member.basicDetails.sinNumber" name="sinNumber" formControlName="sinNumber">
        
          <mat-error *ngIf="(parentForm.get('sinNumber').invalid && 
          (parentForm.get('sinNumber').dirty || 
          parentForm.get('sinNumber').touched || 
          isSubmit))">
            <span *ngIf="parentForm.get('sinNumber').errors?.required">
              Please enter sin number.
            </span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>